$blue: #2945FF;
$white: #FFFFFF;
$blue-light: #EDF5FF;
$pink-light: #F5EDFF;
$green: #15BC1C;
$yellow: #FFDD29;
$orange: #FF8329;
$red: #FF2929;
$black: #000000;
$grey-darken: rgba(#000000, 0.8);
$grey: rgba(#000000, 0.1);
